Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==2.3.7
SQLAlchemy==2.0.21
APScheduler==3.10.4
twilio==8.10.0
Pillow>=10.4.0
pytesseract==0.3.10
requests==2.31.0
beautifulsoup4==4.12.2
supabase
gunicorn
psycopg2-binary
